# Loading the Electric Retail Service Territories dataset

This dataset represents electric power retail service territories. These are areas serviced by electric power utilities responsible for the retail sale of electric power to local customers, whether residential, industrial, or commercial.

In [2]:
import pandas as pd
import numpy as np

retail_costs_df = pd.read_csv("/Users/sabrinasayed/Documents/GitHub/Data_Center_Sites/Data/Electric_Retail_Service_Territories.csv")

retail_costs_df.head()

,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,TELEPHONE,TYPE,COUNTRY,...,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,CUSTOMERS,YEAR,Shape__Area,Shape__Length
0,1,1000,CITY OF AUGUSTA - (AR),NOT AVAILABLE,AUGUSTA,AR,NOT AVAILABLE,NOT AVAILABLE,MUNICIPAL,USA,...,-999999,-999999,-999999,-999999,-999999,-999999,916,2020,0.152271,2.625553
1,2,10000,EVERGY METRO,1200 MAIN STREET,KANSAS CITY,KS,64105,NOT AVAILABLE,INVESTOR OWNED,USA,...,5624474,0,14223892,5957441,20536356,0,562180,2020,0.525845,10.131485
2,3,10005,"EVERGY KANSAS SOUTH, INC",818 KANSAS AVENUE,TOPEKA,KS,66612,NOT AVAILABLE,INVESTOR OWNED,USA,...,1566609,0,9181326,1628176,10891290,0,334500,2020,3.937805,15.439905
3,4,10009,KARNES ELECTRIC COOP INC,1007 N. HWY. 123,KARNES CITY,TX,78118,(830) 780-3952,COOPERATIVE,USA,...,1170464,0,1129899,-999999,1170464,0,21327,2020,3.085930,8.976781
4,5,10012,KAY ELECTRIC COOP,300 W. DOOLIN,BLACKWELL,OK,74631,(580) 363-1260,COOPERATIVE,USA,...,378230,0,371371,0,378230,0,5785,2020,0.599957,3.978050

In [3]:
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949 entries, 0 to 2948
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       2949 non-null   int64
 1   ID             2949 non-null   object
 2   NAME           2949 non-null   object
 3   ADDRESS        2949 non-null   object
 4   CITY           2949 non-null   object
 5   STATE          2949 non-null   object
 6   ZIP            2949 non-null   object
 7   TELEPHONE      2949 non-null   object
 8   TYPE           2949 non-null   object
 9   COUNTRY        2949 non-null   object
 10  NAICS_CODE     2949 non-null   object
 11  NAICS_DESC     2949 non-null   object
 12  SOURCE         2949 non-null   object
 13  SOURCEDATE     2949 non-null   object
 14  VAL_METHOD     2949 non-null   object
 15  VAL_DATE       2949 non-null   object
 16  WEBSITE        2949 non-null   object
 17  REGULATED      2949 non-null   object
 18  CNTRL_AREA     2949 non-null   object
 19  PLAN_AREA      2949 non-null   object
 20  HOLDING_CO     2949 non-null   object
 21  SUMMR_PEAK     2949 non-null   float64
 22  WINTR_PEAK     2949 non-null   float64
 23  SUMMER_CAP     2949 non-null   float64
 24  WINTER_CAP     2949 non-null   float64
 25  NET_GEN        2949 non-null   int64
 26  PURCHASED      2949 non-null   int64
 27  NET_EX         2949 non-null   int64
 28  RETAIL_MWH     2949 non-null   int64
 29  WSALE_MWH      2949 non-null   int64
 30  TOTAL_MWH      2949 non-null   int64
 31  TRANS_MWH      2949 non-null   int64
 32  CUSTOMERS      2949 non-null   int64
 33  YEAR           2949 non-null   object
 34  Shape__Area    2949 non-null   float64
 35  Shape__Length  2948 non-null   float64
dtypes: float64(6), int64(9), object(21)
memory usage: 829.5+ KB

In [4]:
# Drop unnecessary columns
retail_costs_df = retail_costs_df.drop(columns=['ID', 'TELEPHONE','TYPE', 'OBJECTID', 'WEBSITE','NAICS_CODE', 'NAICS_DESC','ZIP', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE','REGULATED'])

retail_costs_df.head()

,NAME,ADDRESS,CITY,STATE,COUNTRY,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,...,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,CUSTOMERS,YEAR,Shape__Area,Shape__Length
0,CITY OF AUGUSTA - (AR),NOT AVAILABLE,AUGUSTA,AR,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF AUGUSTA - (AR),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,916,2020,0.152271,2.625553
1,EVERGY METRO,1200 MAIN STREET,KANSAS CITY,KS,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,...,5624474,0,14223892,5957441,20536356,0,562180,2020,0.525845,10.131485
2,"EVERGY KANSAS SOUTH, INC",818 KANSAS AVENUE,TOPEKA,KS,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,WESTAR ENERGY,2135.0,1421.0,...,1566609,0,9181326,1628176,10891290,0,334500,2020,3.937805,15.439905
3,KARNES ELECTRIC COOP INC,1007 N. HWY. 123,KARNES CITY,TX,USA,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",ERCOT,KARNES ELECTRIC COOP INC,207.0,208.0,...,1170464,0,1129899,-999999,1170464,0,21327,2020,3.085930,8.976781
4,KAY ELECTRIC COOP,300 W. DOOLIN,BLACKWELL,OK,USA,SOUTHWEST POWER POOL,WESTERN FARMERS ELECTRIC COOPERATIVE,KAY ELECTRIC COOP,71.0,71.0,...,378230,0,371371,0,378230,0,5785,2020,0.599957,3.978050

In [5]:
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949 entries, 0 to 2948
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           2949 non-null   object
 1   ADDRESS        2949 non-null   object
 2   CITY           2949 non-null   object
 3   STATE          2949 non-null   object
 4   COUNTRY        2949 non-null   object
 5   CNTRL_AREA     2949 non-null   object
 6   PLAN_AREA      2949 non-null   object
 7   HOLDING_CO     2949 non-null   object
 8   SUMMR_PEAK     2949 non-null   float64
 9   WINTR_PEAK     2949 non-null   float64
 10  SUMMER_CAP     2949 non-null   float64
 11  WINTER_CAP     2949 non-null   float64
 12  NET_GEN        2949 non-null   int64
 13  PURCHASED      2949 non-null   int64
 14  NET_EX         2949 non-null   int64
 15  RETAIL_MWH     2949 non-null   int64
 16  WSALE_MWH      2949 non-null   int64
 17  TOTAL_MWH      2949 non-null   int64
 18  TRANS_MWH      2949 non-null   int64
 19  CUSTOMERS      2949 non-null   int64
 20  YEAR           2949 non-null   object
 21  Shape__Area    2949 non-null   float64
 22  Shape__Length  2948 non-null   float64
dtypes: float64(6), int64(8), object(9)
memory usage: 530.0+ KB

In [6]:
retail_costs_df['CITY'].value_counts()

CITY
COLUMBUS     13
JACKSON      10
ANCHORAGE     8
AKRON         8
MADISON       8
             ..
ST CLAIR      1
SEAFORD       1
SHICKLEY      1
SCRANTON      1
BLOOMER       1
Name: count, Length: 2197, dtype: int64

In [7]:
retail_costs_df['NAME'].value_counts()

NAME
CITY OF HOPE                      2
TOWN OF CLAYTON                   2
LATHROP IRRIGATION DISTRICT       2
NORTH CENTRAL ELEC COOP, INC      2
CITY OF COLLEGE STATION - (TX)    1
                                 ..
VILLAGE OF BETHEL - (OH)          1
SAC-OSAGE ELECTRIC COOP INC       1
CITY OF SABETHA - (KS)            1
CITY OF SABULA - (IA)             1
WALTERS PUBLIC WORKS AUTHORITY    1
Name: count, Length: 2945, dtype: int64

In [8]:
retail_costs_df.isna().value_counts()

NAME   ADDRESS  CITY   STATE  COUNTRY  CNTRL_AREA  PLAN_AREA  HOLDING_CO  SUMMR_PEAK  WINTR_PEAK  SUMMER_CAP  WINTER_CAP  NET_GEN  PURCHASED  NET_EX  RETAIL_MWH  WSALE_MWH  TOTAL_MWH  TRANS_MWH  CUSTOMERS  YEAR   Shape__Area  Shape__Length
False  False    False  False  False    False       False      False       False       False       False       False       False    False      False   False       False      False      False      False      False  False        False            2948
                                                                                                                                                                                                                                  True                1
Name: count, dtype: int64

In [9]:
retail_costs_df[retail_costs_df['Shape__Length'].isna()]

,NAME,ADDRESS,CITY,STATE,COUNTRY,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,...,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,CUSTOMERS,YEAR,Shape__Area,Shape__Length
1601,TOWN OF WINAMAC - (IN),NOT AVAILABLE,WINAMACIN,NOT AVAILABLE,2211,NOT AVAILABLE,TOWN OF WINAMAC - (IN),-999999,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000391642028716888,0.145549,NaN

In [10]:
# Drop missing values from Shape Length
retail_costs_df = retail_costs_df.dropna(subset = ['Shape__Length'])

In [11]:
retail_costs_df[retail_costs_df['SUMMR_PEAK'] == -999999.0]

,NAME,ADDRESS,CITY,STATE,COUNTRY,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,...,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,CUSTOMERS,YEAR,Shape__Area,Shape__Length
0,CITY OF AUGUSTA - (AR),NOT AVAILABLE,AUGUSTA,AR,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF AUGUSTA - (AR),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,916,2020,0.152271,2.625553
6,CITY OF AURELIA - (IA),NOT AVAILABLE,AURELIA,IA,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF AURELIA - (IA),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,518,2020,0.164284,1.639697
7,CITY OF KAPLAN - (LA),NOT AVAILABLE,KAPLAN,LA,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF KAPLAN - (LA),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000524,0.246347
8,CITY OF KASOTA - (MN),NOT AVAILABLE,KASOTA,MN,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF KASOTA - (MN),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,369,2020,0.000332,0.097939
9,CITY OF AURORA - (SD),NOT AVAILABLE,AURORA,SD,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,CITY OF AURORA - (SD),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,497,2020,0.012292,1.894626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2942,CITY OF SULLIVAN - (MO),NOT AVAILABLE,SULLIVAN,MO,USA,"ASSOCIATED ELECTRIC COOPERATIVE, INC.",NOT AVAILABLE,CITY OF SULLIVAN - (MO),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.001887,0.812281
2943,CITY OF GALION,NOT AVAILABLE,GALION,OH,USA,"PJM INTERCONNECTION, LLC",NOT AVAILABLE,CITY OF GALION,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.002510,0.599331
2946,WAGONER PUBLIC WORKS AUTHORITY,NOT AVAILABLE,WAGONER,OK,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,WAGONER PUBLIC WORKS AUTHORITY,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.001218,0.355030
2947,BLOOMER ELECTRIC & WATER CO,NOT AVAILABLE,BLOOMER,WI,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,BLOOMER ELECTRIC & WATER CO,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000615,0.210433
2948,WALTERS PUBLIC WORKS AUTHORITY,NOT AVAILABLE,WALTERS,OK,USA,SOUTHWEST POWER POOL,OKLAHOMA MUNICIPAL POWER AUTHORITY,WALTERS PUBLIC WORKS AUTHORITY,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000333,0.117567

In [12]:
retail_costs_df[retail_costs_df['WINTR_PEAK'] == -999999.0]

,NAME,ADDRESS,CITY,STATE,COUNTRY,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,...,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,CUSTOMERS,YEAR,Shape__Area,Shape__Length
0,CITY OF AUGUSTA - (AR),NOT AVAILABLE,AUGUSTA,AR,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF AUGUSTA - (AR),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,916,2020,0.152271,2.625553
6,CITY OF AURELIA - (IA),NOT AVAILABLE,AURELIA,IA,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF AURELIA - (IA),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,518,2020,0.164284,1.639697
7,CITY OF KAPLAN - (LA),NOT AVAILABLE,KAPLAN,LA,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF KAPLAN - (LA),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000524,0.246347
8,CITY OF KASOTA - (MN),NOT AVAILABLE,KASOTA,MN,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF KASOTA - (MN),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,369,2020,0.000332,0.097939
9,CITY OF AURORA - (SD),NOT AVAILABLE,AURORA,SD,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,CITY OF AURORA - (SD),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,497,2020,0.012292,1.894626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2942,CITY OF SULLIVAN - (MO),NOT AVAILABLE,SULLIVAN,MO,USA,"ASSOCIATED ELECTRIC COOPERATIVE, INC.",NOT AVAILABLE,CITY OF SULLIVAN - (MO),-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.001887,0.812281
2943,CITY OF GALION,NOT AVAILABLE,GALION,OH,USA,"PJM INTERCONNECTION, LLC",NOT AVAILABLE,CITY OF GALION,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.002510,0.599331
2946,WAGONER PUBLIC WORKS AUTHORITY,NOT AVAILABLE,WAGONER,OK,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,WAGONER PUBLIC WORKS AUTHORITY,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.001218,0.355030
2947,BLOOMER ELECTRIC & WATER CO,NOT AVAILABLE,BLOOMER,WI,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,BLOOMER ELECTRIC & WATER CO,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000615,0.210433
2948,WALTERS PUBLIC WORKS AUTHORITY,NOT AVAILABLE,WALTERS,OK,USA,SOUTHWEST POWER POOL,OKLAHOMA MUNICIPAL POWER AUTHORITY,WALTERS PUBLIC WORKS AUTHORITY,-999999.0,-999999.0,...,-999999,-999999,-999999,-999999,-999999,-999999,-999999,2020,0.000333,0.117567

We'll use the WINTR_PEAK column to drop rows with missing values. Where values are missing in WINTR Peak there also values missing in most other columns, these won't be helpful to our model.

In [13]:
# Drop rows with -999999.0 in WINTR_PEAK
retail_costs_df = retail_costs_df[retail_costs_df['WINTR_PEAK'] != -999999.0]
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1251 entries, 1 to 2945
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           1251 non-null   object
 1   ADDRESS        1251 non-null   object
 2   CITY           1251 non-null   object
 3   STATE          1251 non-null   object
 4   COUNTRY        1251 non-null   object
 5   CNTRL_AREA     1251 non-null   object
 6   PLAN_AREA      1251 non-null   object
 7   HOLDING_CO     1251 non-null   object
 8   SUMMR_PEAK     1251 non-null   float64
 9   WINTR_PEAK     1251 non-null   float64
 10  SUMMER_CAP     1251 non-null   float64
 11  WINTER_CAP     1251 non-null   float64
 12  NET_GEN        1251 non-null   int64
 13  PURCHASED      1251 non-null   int64
 14  NET_EX         1251 non-null   int64
 15  RETAIL_MWH     1251 non-null   int64
 16  WSALE_MWH      1251 non-null   int64
 17  TOTAL_MWH      1251 non-null   int64
 18  TRANS_MWH      1251 non-null   int64
 19  CUSTOMERS      1251 non-null   int64
 20  YEAR           1251 non-null   object
 21  Shape__Area    1251 non-null   float64
 22  Shape__Length  1251 non-null   float64
dtypes: float64(6), int64(8), object(9)
memory usage: 234.6+ KB

Remove rows with Canadian data

In [14]:
retail_costs_df = retail_costs_df[retail_costs_df['COUNTRY'] == 'USA']
retail_costs_df

,NAME,ADDRESS,CITY,STATE,COUNTRY,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,...,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,CUSTOMERS,YEAR,Shape__Area,Shape__Length
1,EVERGY METRO,1200 MAIN STREET,KANSAS CITY,KS,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,...,5624474,0,14223892,5957441,20536356,0,562180,2020,0.525845,10.131485
2,"EVERGY KANSAS SOUTH, INC",818 KANSAS AVENUE,TOPEKA,KS,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,WESTAR ENERGY,2135.0,1421.0,...,1566609,0,9181326,1628176,10891290,0,334500,2020,3.937805,15.439905
3,KARNES ELECTRIC COOP INC,1007 N. HWY. 123,KARNES CITY,TX,USA,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",ERCOT,KARNES ELECTRIC COOP INC,207.0,208.0,...,1170464,0,1129899,-999999,1170464,0,21327,2020,3.085930,8.976781
4,KAY ELECTRIC COOP,300 W. DOOLIN,BLACKWELL,OK,USA,SOUTHWEST POWER POOL,WESTERN FARMERS ELECTRIC COOPERATIVE,KAY ELECTRIC COOP,71.0,71.0,...,378230,0,371371,0,378230,0,5785,2020,0.599957,3.978050
5,FREESTATE ELECTRIC COOP,NOT AVAILABLE,MCLOUTH,KS,USA,SOUTHWEST POWER POOL,NOT AVAILABLE,FREESTATE ELECTRIC COOP INC,38.0,30.0,...,287728,0,270021,-999999,287942,0,18451,2020,0.407771,10.450907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,CLYDE LIGHT & POWER,NOT AVAILABLE,CLYDE,OH,USA,"PJM INTERCONNECTION, LLC",NOT AVAILABLE,CLYDE LIGHT & POWER,35.0,31.0,...,197425,0,194949,-999999,197425,0,3079,2020,0.000926,0.365884
2937,CITY OF FLORESVILLE,NOT AVAILABLE,FLORESVILLE,TX,USA,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",NOT AVAILABLE,CITY OF FLORESVILLE,88.0,79.0,...,367805,0,348640,-999999,367805,0,16530,2020,0.000902,0.236486
2940,CITY OF NATCHITOCHES,NOT AVAILABLE,NATCHITOCHES,LA,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CLECO CORPORATION,CITY OF NATCHITOCHES,64.0,60.0,...,280366,0,271848,-999999,280366,0,8600,2020,0.003020,0.608681
2944,SHAWANO MUNICIPAL UTILITIES,NOT AVAILABLE,SHAWANO,WI,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,SHAWANO MUNICIPAL UTILITIES,48.0,43.0,...,277349,0,273457,-999999,277349,0,5751,2020,0.001935,0.650469
2945,COLDWATER BOARD OF PUBLIC UTIL,ONE GRAND STREET,COLDWATER,MI,USA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,COLDWATER BOARD OF PUBLIC UTIL,76.0,102.0,...,456805,0,450741,-999999,456805,0,7324,2020,0.003263,0.625159

In [15]:
retail_costs_df = retail_costs_df.drop(columns=['COUNTRY', 'ADDRESS', 'CUSTOMERS'])
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1239 entries, 1 to 2945
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           1239 non-null   object
 1   CITY           1239 non-null   object
 2   STATE          1239 non-null   object
 3   CNTRL_AREA     1239 non-null   object
 4   PLAN_AREA      1239 non-null   object
 5   HOLDING_CO     1239 non-null   object
 6   SUMMR_PEAK     1239 non-null   float64
 7   WINTR_PEAK     1239 non-null   float64
 8   SUMMER_CAP     1239 non-null   float64
 9   WINTER_CAP     1239 non-null   float64
 10  NET_GEN        1239 non-null   int64
 11  PURCHASED      1239 non-null   int64
 12  NET_EX         1239 non-null   int64
 13  RETAIL_MWH     1239 non-null   int64
 14  WSALE_MWH      1239 non-null   int64
 15  TOTAL_MWH      1239 non-null   int64
 16  TRANS_MWH      1239 non-null   int64
 17  YEAR           1239 non-null   object
 18  Shape__Area    1239 non-null   float64
 19  Shape__Length  1239 non-null   float64
dtypes: float64(6), int64(7), object(7)
memory usage: 203.3+ KB

In [16]:
retail_costs_df

,NAME,CITY,STATE,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,SUMMER_CAP,WINTER_CAP,NET_GEN,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,YEAR,Shape__Area,Shape__Length
1,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,NOT AVAILABLE,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,4877.8,-999999.0,14911882,5624474,0,14223892,5957441,20536356,0,2020,0.525845,10.131485
2,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,NOT AVAILABLE,WESTAR ENERGY,2135.0,1421.0,295.1,295.1,9324681,1566609,0,9181326,1628176,10891290,0,2020,3.937805,15.439905
3,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",ERCOT,KARNES ELECTRIC COOP INC,207.0,208.0,-999999.0,-999999.0,-999999,1170464,0,1129899,-999999,1170464,0,2020,3.085930,8.976781
4,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,WESTERN FARMERS ELECTRIC COOPERATIVE,KAY ELECTRIC COOP,71.0,71.0,-999999.0,-999999.0,0,378230,0,371371,0,378230,0,2020,0.599957,3.978050
5,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,NOT AVAILABLE,FREESTATE ELECTRIC COOP INC,38.0,30.0,-999999.0,-999999.0,214,287728,0,270021,-999999,287942,0,2020,0.407771,10.450907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,CLYDE LIGHT & POWER,CLYDE,OH,"PJM INTERCONNECTION, LLC",NOT AVAILABLE,CLYDE LIGHT & POWER,35.0,31.0,-999999.0,-999999.0,-999999,197425,0,194949,-999999,197425,0,2020,0.000926,0.365884
2937,CITY OF FLORESVILLE,FLORESVILLE,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",NOT AVAILABLE,CITY OF FLORESVILLE,88.0,79.0,-999999.0,-999999.0,-999999,367805,0,348640,-999999,367805,0,2020,0.000902,0.236486
2940,CITY OF NATCHITOCHES,NATCHITOCHES,LA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CLECO CORPORATION,CITY OF NATCHITOCHES,64.0,60.0,-999999.0,-999999.0,-999999,280366,0,271848,-999999,280366,0,2020,0.003020,0.608681
2944,SHAWANO MUNICIPAL UTILITIES,SHAWANO,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,SHAWANO MUNICIPAL UTILITIES,48.0,43.0,-999999.0,-999999.0,-999999,277349,0,273457,-999999,277349,0,2020,0.001935,0.650469
2945,COLDWATER BOARD OF PUBLIC UTIL,COLDWATER,MI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,COLDWATER BOARD OF PUBLIC UTIL,76.0,102.0,12.9,12.9,-999999,456805,0,450741,-999999,456805,0,2020,0.003263,0.625159

In [17]:
retail_costs_df = retail_costs_df.drop(columns=['YEAR'])
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1239 entries, 1 to 2945
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           1239 non-null   object
 1   CITY           1239 non-null   object
 2   STATE          1239 non-null   object
 3   CNTRL_AREA     1239 non-null   object
 4   PLAN_AREA      1239 non-null   object
 5   HOLDING_CO     1239 non-null   object
 6   SUMMR_PEAK     1239 non-null   float64
 7   WINTR_PEAK     1239 non-null   float64
 8   SUMMER_CAP     1239 non-null   float64
 9   WINTER_CAP     1239 non-null   float64
 10  NET_GEN        1239 non-null   int64
 11  PURCHASED      1239 non-null   int64
 12  NET_EX         1239 non-null   int64
 13  RETAIL_MWH     1239 non-null   int64
 14  WSALE_MWH      1239 non-null   int64
 15  TOTAL_MWH      1239 non-null   int64
 16  TRANS_MWH      1239 non-null   int64
 17  Shape__Area    1239 non-null   float64
 18  Shape__Length  1239 non-null   float64
dtypes: float64(6), int64(7), object(6)
memory usage: 193.6+ KB

In [18]:
# Most values are missing
retail_costs_df[retail_costs_df['SUMMER_CAP'] == -999999.0]

,NAME,CITY,STATE,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,SUMMER_CAP,WINTER_CAP,NET_GEN,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,Shape__Area,Shape__Length
3,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",ERCOT,KARNES ELECTRIC COOP INC,207.0,208.0,-999999.0,-999999.0,-999999,1170464,0,1129899,-999999,1170464,0,3.085930,8.976781
4,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,WESTERN FARMERS ELECTRIC COOPERATIVE,KAY ELECTRIC COOP,71.0,71.0,-999999.0,-999999.0,0,378230,0,371371,0,378230,0,0.599957,3.978050
5,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,NOT AVAILABLE,FREESTATE ELECTRIC COOP INC,38.0,30.0,-999999.0,-999999.0,214,287728,0,270021,-999999,287942,0,0.407771,10.450907
15,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,"TRI-STATE G & T ASSN., INC.",K C ELECTRIC ASSOCIATION,59.0,31.0,-999999.0,-999999.0,-999999,241367,0,226164,-999999,241367,0,1.179490,5.548555
18,CITY OF AUSTIN - (MN),AUSTIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,CITY OF AUSTIN - (MN),70.0,47.0,-999999.0,-999999.0,-999999,344261,0,336408,-999999,344261,0,0.007029,0.625095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,BRODHEAD WATER & LIGHTING COMM,BRODHEAD,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,WISCONSIN PUBLIC POWER INC.,BRODHEAD WATER & LIGHTING COMM,8.0,6.0,-999999.0,-999999.0,-999999,34346,-999999,32920,-999999,34346,-999999,0.000504,0.203765
2935,CLYDE LIGHT & POWER,CLYDE,OH,"PJM INTERCONNECTION, LLC",NOT AVAILABLE,CLYDE LIGHT & POWER,35.0,31.0,-999999.0,-999999.0,-999999,197425,0,194949,-999999,197425,0,0.000926,0.365884
2937,CITY OF FLORESVILLE,FLORESVILLE,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",NOT AVAILABLE,CITY OF FLORESVILLE,88.0,79.0,-999999.0,-999999.0,-999999,367805,0,348640,-999999,367805,0,0.000902,0.236486
2940,CITY OF NATCHITOCHES,NATCHITOCHES,LA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CLECO CORPORATION,CITY OF NATCHITOCHES,64.0,60.0,-999999.0,-999999.0,-999999,280366,0,271848,-999999,280366,0,0.003020,0.608681
2944,SHAWANO MUNICIPAL UTILITIES,SHAWANO,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,SHAWANO MUNICIPAL UTILITIES,48.0,43.0,-999999.0,-999999.0,-999999,277349,0,273457,-999999,277349,0,0.001935,0.650469

In [19]:
# Most values are missing from Winter Cap
retail_costs_df[retail_costs_df['WINTER_CAP'] == -999999.0]

,NAME,CITY,STATE,CNTRL_AREA,PLAN_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,SUMMER_CAP,WINTER_CAP,NET_GEN,PURCHASED,NET_EX,RETAIL_MWH,WSALE_MWH,TOTAL_MWH,TRANS_MWH,Shape__Area,Shape__Length
1,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,NOT AVAILABLE,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,4877.8,-999999.0,14911882,5624474,0,14223892,5957441,20536356,0,0.525845,10.131485
3,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",ERCOT,KARNES ELECTRIC COOP INC,207.0,208.0,-999999.0,-999999.0,-999999,1170464,0,1129899,-999999,1170464,0,3.085930,8.976781
4,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,WESTERN FARMERS ELECTRIC COOPERATIVE,KAY ELECTRIC COOP,71.0,71.0,-999999.0,-999999.0,0,378230,0,371371,0,378230,0,0.599957,3.978050
5,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,NOT AVAILABLE,FREESTATE ELECTRIC COOP INC,38.0,30.0,-999999.0,-999999.0,214,287728,0,270021,-999999,287942,0,0.407771,10.450907
15,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,"TRI-STATE G & T ASSN., INC.",K C ELECTRIC ASSOCIATION,59.0,31.0,-999999.0,-999999.0,-999999,241367,0,226164,-999999,241367,0,1.179490,5.548555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,BRODHEAD WATER & LIGHTING COMM,BRODHEAD,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,WISCONSIN PUBLIC POWER INC.,BRODHEAD WATER & LIGHTING COMM,8.0,6.0,-999999.0,-999999.0,-999999,34346,-999999,32920,-999999,34346,-999999,0.000504,0.203765
2935,CLYDE LIGHT & POWER,CLYDE,OH,"PJM INTERCONNECTION, LLC",NOT AVAILABLE,CLYDE LIGHT & POWER,35.0,31.0,-999999.0,-999999.0,-999999,197425,0,194949,-999999,197425,0,0.000926,0.365884
2937,CITY OF FLORESVILLE,FLORESVILLE,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",NOT AVAILABLE,CITY OF FLORESVILLE,88.0,79.0,-999999.0,-999999.0,-999999,367805,0,348640,-999999,367805,0,0.000902,0.236486
2940,CITY OF NATCHITOCHES,NATCHITOCHES,LA,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CLECO CORPORATION,CITY OF NATCHITOCHES,64.0,60.0,-999999.0,-999999.0,-999999,280366,0,271848,-999999,280366,0,0.003020,0.608681
2944,SHAWANO MUNICIPAL UTILITIES,SHAWANO,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,NOT AVAILABLE,SHAWANO MUNICIPAL UTILITIES,48.0,43.0,-999999.0,-999999.0,-999999,277349,0,273457,-999999,277349,0,0.001935,0.650469

In [20]:
# Drop summer and winter cap columns
retail_costs_df = retail_costs_df.drop(columns=['SUMMER_CAP', 'WINTER_CAP'])
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1239 entries, 1 to 2945
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           1239 non-null   object
 1   CITY           1239 non-null   object
 2   STATE          1239 non-null   object
 3   CNTRL_AREA     1239 non-null   object
 4   PLAN_AREA      1239 non-null   object
 5   HOLDING_CO     1239 non-null   object
 6   SUMMR_PEAK     1239 non-null   float64
 7   WINTR_PEAK     1239 non-null   float64
 8   NET_GEN        1239 non-null   int64
 9   PURCHASED      1239 non-null   int64
 10  NET_EX         1239 non-null   int64
 11  RETAIL_MWH     1239 non-null   int64
 12  WSALE_MWH      1239 non-null   int64
 13  TOTAL_MWH      1239 non-null   int64
 14  TRANS_MWH      1239 non-null   int64
 15  Shape__Area    1239 non-null   float64
 16  Shape__Length  1239 non-null   float64
dtypes: float64(4), int64(7), object(6)
memory usage: 174.2+ KB

In [21]:
# Mostly zeros or missing
retail_costs_df['NET_EX'].value_counts()

NET_EX
 0         1123
-999999      54
-17111        1
-68463        1
 7861         1
           ...
 306293       1
-4814         1
 87278        1
 901302       1
 5122         1
Name: count, Length: 64, dtype: int64

In [22]:
# Most values are zeros or missing
retail_costs_df['TRANS_MWH'].value_counts()

TRANS_MWH
 0         1154
-999999      54
 495503       2
 7101         1
-1000         1
 7056         1
 17331        1
 45503        1
 20547        1
 285526       1
 5            1
 1152         1
 41487        1
 5750         1
 62738        1
 767          1
 235980       1
 43019        1
 13705        1
 2324         1
 3346         1
 106402       1
 10475        1
-263017       1
 18071        1
 1347         1
 2165         1
 79720        1
 20379        1
 3730         1
 405          1
 416          1
Name: count, dtype: int64

In [23]:
# Most values are not available
retail_costs_df['PLAN_AREA'].value_counts()

PLAN_AREA
NOT AVAILABLE                                               735
BONNEVILLE POWER ADMINISTRATION, USDOE                       61
ERCOT                                                        44
WISCONSIN PUBLIC POWER INC.                                  40
TRI-STATE G & T ASSN., INC.                                  28
                                                           ...
TAMPA ELECTRIC COMPANY                                        1
TENNESSEE VALLEY AUTHORITY                                    1
MISSOURI RIVER ENERGY SERVICES                                1
ALABAMA POWER COMPANY                                         1
KANSAS CITY BOARD OF PUBLIC UTILITIES & WYANDOTTE COUNTY      1
Name: count, Length: 98, dtype: int64

In [24]:
# Most values are missing or zero
retail_costs_df['WSALE_MWH'].value_counts()

WSALE_MWH
-999999     749
 0          193
 5957441      1
 55341        1
 338          1
           ...
 4205349      1
 7606097      1
 2621         1
 116868       1
 141583       1
Name: count, Length: 299, dtype: int64

In [25]:
# Mostly missing values or zero
retail_costs_df['NET_GEN'].value_counts()

NET_GEN
-999999      707
 0           190
 16            2
 14911882      1
 1621132       1
            ...
 492           1
 11324336      1
 154721        1
 5134539       1
 840205        1
Name: count, Length: 343, dtype: int64

In [26]:
# Drop Plan Area, Trans MWH, Net Ex, WSALE MWH, Net Gen
retail_costs_df = retail_costs_df.drop(columns=['PLAN_AREA', 'TRANS_MWH', 'NET_EX', 'NET_GEN', 'WSALE_MWH'])
retail_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1239 entries, 1 to 2945
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           1239 non-null   object
 1   CITY           1239 non-null   object
 2   STATE          1239 non-null   object
 3   CNTRL_AREA     1239 non-null   object
 4   HOLDING_CO     1239 non-null   object
 5   SUMMR_PEAK     1239 non-null   float64
 6   WINTR_PEAK     1239 non-null   float64
 7   PURCHASED      1239 non-null   int64
 8   RETAIL_MWH     1239 non-null   int64
 9   TOTAL_MWH      1239 non-null   int64
 10  Shape__Area    1239 non-null   float64
 11  Shape__Length  1239 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 125.8+ KB

In [27]:
retail_costs_df.reset_index(drop=True, inplace=True)

In [51]:
retail_costs_df[retail_costs_df['TOTAL_MWH'] == -999999]

# Drop rows with -999999 in TOTAL_MWH
retail_costs_df = retail_costs_df[retail_costs_df['TOTAL_MWH'] != -999999]
retail_costs_df.head(10)

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length
0,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,5624474,14223892,20536356,0.525845,10.131485
1,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,WESTAR ENERGY,2135.0,1421.0,1566609,9181326,10891290,3.937805,15.439905
2,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",KARNES ELECTRIC COOP INC,207.0,208.0,1170464,1129899,1170464,3.085930,8.976781
3,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,KAY ELECTRIC COOP,71.0,71.0,378230,371371,378230,0.599957,3.978050
4,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,FREESTATE ELECTRIC COOP INC,38.0,30.0,287728,270021,287942,0.407771,10.450907
5,CITY OF KAUKAUNA,KAUKAUNA,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF KAUKAUNA,110.0,92.0,335377,504912,540370,0.188712,1.787591
6,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,K C ELECTRIC ASSOCIATION,59.0,31.0,241367,226164,241367,1.179490,5.548555
7,KAUAI ISLAND UTILITY COOPERATIVE,LIHUE,HI,NOT AVAILABLE,KAUAI ISLAND UTILITY COOPERATIVE,67.0,76.0,255353,415291,437516,0.145119,3.103133
8,CITY OF AUSTIN - (MN),AUSTIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF AUSTIN - (MN),70.0,47.0,344261,336408,344261,0.007029,0.625095
9,AUSTIN ENERGY,AUSTIN,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",AUSTIN ENERGY,2810.0,2031.0,6120068,13087868,14360019,0.525200,2.960242

In [52]:
retail_costs_df[retail_costs_df['RETAIL_MWH'] == -999999]

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length
237,NORTH CAROLINA EASTERN M P A,RALEIGH,NC,NOT AVAILABLE,NORTH CAROLINA EASTERN M P A,1376.0,1005.0,7320950,-999999,7320950,0.221625,2.154923
378,BADGER POWER MARKETING AUTHORITY,SHAWANO,WI,NOT AVAILABLE,BADGER POWER MARKETING AUTHORITY,68.0,65.0,380987,-999999,380987,0.267844,2.854792
442,SAM RAYBURN MUNICIPAL PWR AGNY,NACOGDOCHES,TX,NOT AVAILABLE,SAM RAYBURN MUNICIPAL PWR AGNY,593.0,575.0,4612610,-999999,4612610,0.792528,8.612186
481,"SOUTH TEXAS ELECTRIC COOP, INC",NURSERY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.","SOUTH TEXAS ELECTRIC COOP, INC",1509.0,1351.0,7752816,-999999,8291065,0.292639,2.269738
685,WPPI ENERGY,SUN PRAIRIE,WI,NOT AVAILABLE,WPPI ENERGY,978.0,742.0,4658010,-999999,5852599,8.544417,50.825937
690,WOLVERINE POWER SUPPLY COOP,CADILLAC,MI,NOT AVAILABLE,WOLVERINE POWER SUPPLY COOP,692.0,505.0,7197910,-999999,8460616,5.669018,26.434677
895,ONCOR ELECTRIC DELIVERY COMPANY LLC,DALLAS,TX,NOT AVAILABLE,ONCOR ELECTRIC DELIVERY COMPANY LLC,27085.0,21145.0,-999999,-999999,0,20.437066,52.773177
954,"EAST KENTUCKY POWER COOP, INC",WINCHESTER,KY,NOT AVAILABLE,"EAST KENTUCKY POWER COOP, INC",2312.0,2702.0,5257599,-999999,13431872,4.901785,90.299976

In [53]:
# Drop rows with -999999 in RETAIL_MWH
retail_costs_df = retail_costs_df[retail_costs_df['RETAIL_MWH'] != -999999]

retail_costs_df.describe()

,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length
count,1227.000000,1227.000000,1.227000e+03,1.227000e+03,1.227000e+03,1227.000000,1227.000000
mean,627.439690,511.593725,1.473537e+06,2.287159e+06,2.937116e+06,1.358704,7.212517
std,2021.552529,1576.312683,3.720137e+06,7.421368e+06,9.614951e+06,7.211674,17.005121
min,1.000000,1.000000,-9.999990e+05,6.675000e+03,6.795000e+03,0.000306,0.110457
25%,60.000000,50.000000,2.784720e+05,2.718525e+05,2.880470e+05,0.047553,1.701603
50%,100.000000,93.000000,4.706960e+05,4.657600e+05,4.966270e+05,0.291270,3.795288
75%,224.000000,208.000000,1.032557e+06,1.030946e+06,1.137266e+06,0.845937,7.012584
max,24493.000000,18429.000000,5.936383e+07,1.136640e+08,1.327389e+08,165.736925,315.963570

In [54]:
retail_costs_df[retail_costs_df['PURCHASED'] == -999999]

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length
14,KINGS RIVER CONSERVATION DIST,FRESNO,CA,CALIFORNIA INDEPENDENT SYSTEM OPERATOR,KINGS RIVER CONSERVATION DIST,120.0,19.0,-999999,240148,240148,1.571166,9.002545
22,KODIAK ELECTRIC ASSN INC,KODIAK,AK,NOT AVAILABLE,KODIAK ELECTRIC ASSN INC,23.0,28.0,-999999,139401,148666,2.672450,56.178697
151,MILLE LACS ENERGY COOPERATIVE,ATKIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,MILLE LACS ENERGY COOPERATIVE,50.0,46.0,-999999,199345,211714,0.429454,4.818493
587,TDX NORTH SLOPE GENERATING CO,DEADHORSE,AK,NOT AVAILABLE,TDX NORTH SLOPE GENERATING CO,6.0,11.0,-999999,53030,55422,52.428490,129.226320
629,VIRGIN ISLANDS WATER & POWER AUTHORITY,CHARLOTTE AMALIE EAST,VI,NOT AVAILABLE,VIRGIN ISLANDS WATER & POWER AUTHORITY,97.0,89.0,-999999,588026,643646,0.031781,3.279742
714,"ALASKA VILLAGE ELEC COOP, INC",ANCHORAGE,AK,NOT AVAILABLE,"ALASKA VILLAGE ELEC COOP, INC",15.0,22.0,-999999,120835,129374,144.651107,315.963570
858,GUAM POWER AUTHORITY,MANGILAO,GU,NOT AVAILABLE,GUAM POWER AUTHORITY,244.0,236.0,-999999,1523398,1621132,0.123359,1.585876
973,COMMONWEALTH UTILITY CORPORATION,SAN JOSE,MP,NOT AVAILABLE,COMMONWEALTH UTILITY CORPORATION,37.0,38.0,-999999,208299,252882,0.169328,2.595992
1007,FARMINGTON RIVER POWER COMPANY,NEW BRITAIN,CT,ISO NEW ENGLAND INC.,FARMINGTON RIVER POWER COMPANY,9.0,9.0,-999999,24687,24687,0.210626,2.643621

In [55]:
# Drop rows with -999999 in PURCHASED
retail_costs_df = retail_costs_df[retail_costs_df['PURCHASED'] != -999999]
retail_costs_df.describe()

,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length
count,1218.000000,1218.000000,1.218000e+03,1.218000e+03,1.218000e+03,1218.000000,1218.000000
mean,631.582512,514.965107,1.491814e+06,2.301516e+06,2.956086e+06,1.202662,6.834535
std,2028.426813,1581.629584,3.727759e+06,7.446772e+06,9.647808e+06,5.774661,14.090999
min,1.000000,1.000000,0.000000e+00,6.675000e+03,6.795000e+03,0.000306,0.110457
25%,60.000000,51.000000,2.811535e+05,2.744408e+05,2.904705e+05,0.046717,1.679602
50%,100.000000,94.000000,4.742870e+05,4.670360e+05,4.987295e+05,0.290554,3.786970
75%,225.000000,208.000000,1.042400e+06,1.046464e+06,1.144714e+06,0.834600,6.991698
max,24493.000000,18429.000000,5.936383e+07,1.136640e+08,1.327389e+08,165.736925,262.517554

### Interpreting Electric Retail Services
- PURCHASED: Total energy purchased by the utility (MWh) -- higher purcchases indicates larger, more established grid, lower costs
- Retail MWh: Energy distributed to end users -- higher retail signals a larger service area, potential reliability for high demand consumers
- Toal MWh: includes all energy generated and purchases, overall capacity of utility

High Cost Indicators: 
- Total MWh < 500,000 MWh -- smaller utilties may charge more

Low Cost Indicators:
- Total MWh >1,000,000 MWh -- robust network, support energy-intensive consumers at low costs
- High Retail relative to Total indicates efficient energy distribution and utilization

### For Evaluation we need to create new columns for the cost and reliability indicators:

1. Create Retail_MWh/Total_MWh Ratio: The larger the number the more efficient

2. Create Total_MWh Rank: 
- High = >1,000,000 MWh
- Moderate = 300,000 MWh > X > 1,000,000 MWh
- Low = < 300,000 MWh

3. Create Retail_MWh Rank:
- High = >1,000,000 MWh
- Moderate = 300,000 MWh > X > 1,000,000 MWh
- Low = < 300,000 MWh

In [56]:
# Create Retail_MWh/Total_MWh Ratio column
retail_costs_df['Retail/Total MWh'] = retail_costs_df['RETAIL_MWH'] / retail_costs_df['TOTAL_MWH']
retail_costs_df.head()

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length,Retail/Total MWh
0,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,5624474,14223892,20536356,0.525845,10.131485,0.692620
1,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,WESTAR ENERGY,2135.0,1421.0,1566609,9181326,10891290,3.937805,15.439905,0.842997
2,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",KARNES ELECTRIC COOP INC,207.0,208.0,1170464,1129899,1170464,3.085930,8.976781,0.965343
3,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,KAY ELECTRIC COOP,71.0,71.0,378230,371371,378230,0.599957,3.978050,0.981866
4,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,FREESTATE ELECTRIC COOP INC,38.0,30.0,287728,270021,287942,0.407771,10.450907,0.937762

In [57]:
# Create Total_MWh Rank column
import numpy as np
conditions = [
    retail_costs_df['TOTAL_MWH'] > 1000000,
    (retail_costs_df['TOTAL_MWH'] >= 300000) & (retail_costs_df['TOTAL_MWH'] <= 1000000),
    retail_costs_df['TOTAL_MWH'] < 300000
]
choices = ['High', 'Moderate', 'Low']

retail_costs_df['Total_MWh_Rank'] = np.select(conditions, choices, default='Unknown')

# Verify the results
print(retail_costs_df['Total_MWh_Rank'].value_counts())

Total_MWh_Rank
Moderate    557
High        342
Low         319
Name: count, dtype: int64

In [58]:
# Create Retail_MWh Rank column
conditions = [
    retail_costs_df['RETAIL_MWH'] > 1000000,
    (retail_costs_df['RETAIL_MWH'] >= 300000) & (retail_costs_df['RETAIL_MWH'] <= 1000000),
    retail_costs_df['RETAIL_MWH'] < 300000
]
choices = ['High', 'Moderate', 'Low']

retail_costs_df['Retail_MWh_Rank'] = np.select(conditions, choices, default='Unknown')

# Verify the results
print(retail_costs_df['Retail_MWh_Rank'].value_counts())

Retail_MWh_Rank
Moderate    539
Low         366
High        313
Name: count, dtype: int64

In [60]:
# Create Purchased Rank column
conditions = [
    retail_costs_df['PURCHASED'] > 1000000,
    (retail_costs_df['PURCHASED'] >= 300000) & (retail_costs_df['PURCHASED'] <= 1000000),
    retail_costs_df['PURCHASED'] < 300000
]
choices = ['High', 'Moderate', 'Low']

retail_costs_df['Purchased_Rank'] = np.select(conditions, choices, default='Unknown')
retail_costs_df['Purchased_Rank'].value_counts()

Purchased_Rank
Moderate    564
Low         341
High        313
Name: count, dtype: int64

In [61]:
retail_costs_df.head(10)

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length,Retail/Total MWh,Total_MWh_Rank,Retail_MWh_Rank,Purchased_Rank
0,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,5624474,14223892,20536356,0.525845,10.131485,0.692620,High,High,High
1,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,WESTAR ENERGY,2135.0,1421.0,1566609,9181326,10891290,3.937805,15.439905,0.842997,High,High,High
2,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",KARNES ELECTRIC COOP INC,207.0,208.0,1170464,1129899,1170464,3.085930,8.976781,0.965343,High,High,High
3,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,KAY ELECTRIC COOP,71.0,71.0,378230,371371,378230,0.599957,3.978050,0.981866,Moderate,Moderate,Moderate
4,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,FREESTATE ELECTRIC COOP INC,38.0,30.0,287728,270021,287942,0.407771,10.450907,0.937762,Low,Low,Low
5,CITY OF KAUKAUNA,KAUKAUNA,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF KAUKAUNA,110.0,92.0,335377,504912,540370,0.188712,1.787591,0.934382,Moderate,Moderate,Moderate
6,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,K C ELECTRIC ASSOCIATION,59.0,31.0,241367,226164,241367,1.179490,5.548555,0.937013,Low,Low,Low
7,KAUAI ISLAND UTILITY COOPERATIVE,LIHUE,HI,NOT AVAILABLE,KAUAI ISLAND UTILITY COOPERATIVE,67.0,76.0,255353,415291,437516,0.145119,3.103133,0.949202,Moderate,Moderate,Low
8,CITY OF AUSTIN - (MN),AUSTIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF AUSTIN - (MN),70.0,47.0,344261,336408,344261,0.007029,0.625095,0.977189,Moderate,Moderate,Moderate
9,AUSTIN ENERGY,AUSTIN,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",AUSTIN ENERGY,2810.0,2031.0,6120068,13087868,14360019,0.525200,2.960242,0.911410,High,High,High

In [64]:
retail_costs_df.describe()

,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length,Retail/Total MWh
count,1218.000000,1218.000000,1.218000e+03,1.218000e+03,1.218000e+03,1218.000000,1218.000000,1218.000000
mean,631.582512,514.965107,1.491814e+06,2.301516e+06,2.956086e+06,1.202662,6.834535,0.915609
std,2028.426813,1581.629584,3.727759e+06,7.446772e+06,9.647808e+06,5.774661,14.090999,0.111671
min,1.000000,1.000000,0.000000e+00,6.675000e+03,6.795000e+03,0.000306,0.110457,0.011846
25%,60.000000,51.000000,2.811535e+05,2.744408e+05,2.904705e+05,0.046717,1.679602,0.926693
50%,100.000000,94.000000,4.742870e+05,4.670360e+05,4.987295e+05,0.290554,3.786970,0.948075
75%,225.000000,208.000000,1.042400e+06,1.046464e+06,1.144714e+06,0.834600,6.991698,0.962848
max,24493.000000,18429.000000,5.936383e+07,1.136640e+08,1.327389e+08,165.736925,262.517554,1.032873

- Utilities with retail close to total MWh are likely to prioritize retail customers
- Larger gaps may indicate that they cater to wholesale markets or experience high losses

In [65]:
# Create Efficiency Rank column with Retail/Total MWh
conditions = [
    retail_costs_df['Retail/Total MWh'] > 0.9,
    retail_costs_df['Retail/Total MWh'] < 0.9
]
choices = ['High', 'Low']
retail_costs_df['Efficiency_Rank'] = np.select(conditions, choices, default='Unknown')
retail_costs_df['Efficiency_Rank'].value_counts()

Efficiency_Rank
High    1013
Low      205
Name: count, dtype: int64

In [66]:
retail_costs_df.head(10)

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,SUMMR_PEAK,WINTR_PEAK,PURCHASED,RETAIL_MWH,TOTAL_MWH,Shape__Area,Shape__Length,Retail/Total MWh,Total_MWh_Rank,Retail_MWh_Rank,Purchased_Rank,Efficiency_Rank
0,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,KANSAS CITY POWER & LIGHT CO,3200.0,2484.0,5624474,14223892,20536356,0.525845,10.131485,0.692620,High,High,High,Low
1,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,WESTAR ENERGY,2135.0,1421.0,1566609,9181326,10891290,3.937805,15.439905,0.842997,High,High,High,Low
2,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",KARNES ELECTRIC COOP INC,207.0,208.0,1170464,1129899,1170464,3.085930,8.976781,0.965343,High,High,High,High
3,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,KAY ELECTRIC COOP,71.0,71.0,378230,371371,378230,0.599957,3.978050,0.981866,Moderate,Moderate,Moderate,High
4,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,FREESTATE ELECTRIC COOP INC,38.0,30.0,287728,270021,287942,0.407771,10.450907,0.937762,Low,Low,Low,High
5,CITY OF KAUKAUNA,KAUKAUNA,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF KAUKAUNA,110.0,92.0,335377,504912,540370,0.188712,1.787591,0.934382,Moderate,Moderate,Moderate,High
6,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,K C ELECTRIC ASSOCIATION,59.0,31.0,241367,226164,241367,1.179490,5.548555,0.937013,Low,Low,Low,High
7,KAUAI ISLAND UTILITY COOPERATIVE,LIHUE,HI,NOT AVAILABLE,KAUAI ISLAND UTILITY COOPERATIVE,67.0,76.0,255353,415291,437516,0.145119,3.103133,0.949202,Moderate,Moderate,Low,High
8,CITY OF AUSTIN - (MN),AUSTIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF AUSTIN - (MN),70.0,47.0,344261,336408,344261,0.007029,0.625095,0.977189,Moderate,Moderate,Moderate,High
9,AUSTIN ENERGY,AUSTIN,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",AUSTIN ENERGY,2810.0,2031.0,6120068,13087868,14360019,0.525200,2.960242,0.911410,High,High,High,High

In [67]:
retail_costs_df = retail_costs_df.drop(columns=['SUMMR_PEAK', 'WINTR_PEAK', 'PURCHASED','RETAIL_MWH','TOTAL_MWH'])
retail_costs_df.head(10)

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,Shape__Area,Shape__Length,Retail/Total MWh,Total_MWh_Rank,Retail_MWh_Rank,Purchased_Rank,Efficiency_Rank
0,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,KANSAS CITY POWER & LIGHT CO,0.525845,10.131485,0.692620,High,High,High,Low
1,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,WESTAR ENERGY,3.937805,15.439905,0.842997,High,High,High,Low
2,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",KARNES ELECTRIC COOP INC,3.085930,8.976781,0.965343,High,High,High,High
3,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,KAY ELECTRIC COOP,0.599957,3.978050,0.981866,Moderate,Moderate,Moderate,High
4,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,FREESTATE ELECTRIC COOP INC,0.407771,10.450907,0.937762,Low,Low,Low,High
5,CITY OF KAUKAUNA,KAUKAUNA,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF KAUKAUNA,0.188712,1.787591,0.934382,Moderate,Moderate,Moderate,High
6,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,K C ELECTRIC ASSOCIATION,1.179490,5.548555,0.937013,Low,Low,Low,High
7,KAUAI ISLAND UTILITY COOPERATIVE,LIHUE,HI,NOT AVAILABLE,KAUAI ISLAND UTILITY COOPERATIVE,0.145119,3.103133,0.949202,Moderate,Moderate,Low,High
8,CITY OF AUSTIN - (MN),AUSTIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF AUSTIN - (MN),0.007029,0.625095,0.977189,Moderate,Moderate,Moderate,High
9,AUSTIN ENERGY,AUSTIN,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",AUSTIN ENERGY,0.525200,2.960242,0.911410,High,High,High,High

In [68]:
retail_costs_df = retail_costs_df.drop(columns=['Retail/Total MWh'])
retail_costs_df.head(10)

,NAME,CITY,STATE,CNTRL_AREA,HOLDING_CO,Shape__Area,Shape__Length,Total_MWh_Rank,Retail_MWh_Rank,Purchased_Rank,Efficiency_Rank
0,EVERGY METRO,KANSAS CITY,KS,SOUTHWEST POWER POOL,KANSAS CITY POWER & LIGHT CO,0.525845,10.131485,High,High,High,Low
1,"EVERGY KANSAS SOUTH, INC",TOPEKA,KS,SOUTHWEST POWER POOL,WESTAR ENERGY,3.937805,15.439905,High,High,High,Low
2,KARNES ELECTRIC COOP INC,KARNES CITY,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",KARNES ELECTRIC COOP INC,3.085930,8.976781,High,High,High,High
3,KAY ELECTRIC COOP,BLACKWELL,OK,SOUTHWEST POWER POOL,KAY ELECTRIC COOP,0.599957,3.978050,Moderate,Moderate,Moderate,High
4,FREESTATE ELECTRIC COOP,MCLOUTH,KS,SOUTHWEST POWER POOL,FREESTATE ELECTRIC COOP INC,0.407771,10.450907,Low,Low,Low,High
5,CITY OF KAUKAUNA,KAUKAUNA,WI,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF KAUKAUNA,0.188712,1.787591,Moderate,Moderate,Moderate,High
6,K C ELECTRIC ASSOCIATION,HUGO,CO,WESTERN AREA POWER ADMINISTRATION - ROCKY MOUN...,K C ELECTRIC ASSOCIATION,1.179490,5.548555,Low,Low,Low,High
7,KAUAI ISLAND UTILITY COOPERATIVE,LIHUE,HI,NOT AVAILABLE,KAUAI ISLAND UTILITY COOPERATIVE,0.145119,3.103133,Moderate,Moderate,Low,High
8,CITY OF AUSTIN - (MN),AUSTIN,MN,MIDCONTINENT INDEPENDENT TRANSMISSION SYSTEM O...,CITY OF AUSTIN - (MN),0.007029,0.625095,Moderate,Moderate,Moderate,High
9,AUSTIN ENERGY,AUSTIN,TX,"ELECTRIC RELIABILITY COUNCIL OF TEXAS, INC.",AUSTIN ENERGY,0.525200,2.960242,High,High,High,High

In [71]:
retail_costs_df.to_csv('/Users/sabrinasayed/Documents/GitHub/Data_Center_Sites/Cleaned Data/Cleaned_Retail_Costs.csv')

# Loading Electric Power Utility Scale Facility Net Generation dataset

In [30]:
net_gen = pd.read_csv("/Users/sabrinasayed/Documents/GitHub/Data_Center_Sites/Data/Utility Scale Facility Net Generation - Table_1_03_A.csv")
net_gen

,Census Division,State,Generation at Utility Scale of All Facilities (Aug 2024),Generation at Utility Scale of All Facilities (Aug 2023),Generation at Utility Scale of All Facilities (Percentage\nChange),Generation at Utility Scale Electric Facilities (Aug 2024),Generation at Utility Scale Electric Facilities (Aug 2023),Generation at Utility Scale Independent Electric Facilities (Aug 2024),Generation at Utility Scale Independent Electric Facilities (Aug 2023),Generation at Utility Scale Commercial Facilities (Aug 2024),Generation at Utility Scale Commercial Facilities (Aug 2023),Generation at Utility Scale Industrial Facilities (Aug 2024),August 2023Generation at Utility Scale Industrial Facilities (Aug 2023)
0,New England,Connecticut,"4,352","3,976",9.4%,7,7,"4,257","3,884",29,26,59,59
1,New England,Maine,"1,185","1,154",2.8%,NM,0,"1,088","1,058",4,4,93,91
2,New England,Massachusetts,"1,896","1,783",6.4%,70,47,"1,657","1,575",154,147,15,15
3,New England,New Hampshire,"1,808","1,471",22.9%,NM,1,"1,800","1,463",5,5,2,2
4,New England,Rhode Island,"1,061","1,067",-0.5%,0,0,"1,042","1,044",4,6,15,16
5,New England,Vermont,207,224,-7.5%,84,90,123,134,0,0,0,0
6,Middle Atlantic,New Jersey,"5,633","6,567",-14.2%,36,32,"5,438","6,387",101,95,58,53
7,Middle Atlantic,New York,"12,290","11,633",5.6%,"3,369","3,348","8,635","8,012",209,206,76,67
8,Middle Atlantic,Pennsylvania,"23,206","23,167",0.2%,5,3,"22,797","22,757",55,52,349,355
9,East North Central,Illinois,"17,196","16,568",3.8%,672,447,"16,309","15,880",45,42,170,199
10,East North Central,Indiana,"9,001","8,762",2.7%,"6,184","5,822","2,370","2,497",21,22,426,421
11,East North Central,Michigan,"12,136","11,083",9.5%,"9,020","8,223","2,938","2,687",65,63,114,109
12,East North Central,Ohio,"13,652","12,635",8.0%,"1,542","1,481","12,020","11,061",30,32,60,60
13,East North Central,Wisconsin,"6,417","6,549",-2.0%,"5,298","5,436",982,982,9,11,127,119
14,West North Central,Iowa,"5,530","5,960",-7.2%,"4,631","5,079",679,674,9,10,211,197
15,West North Central,Kansas,"5,364","5,656",-5.2%,"3,460","4,028","1,872","1,591",NM,1,31,36
16,West North Central,Minnesota,"5,512","5,398",2.1%,"4,080","3,943","1,298","1,321",21,26,113,108
17,West North Central,Missouri,"7,051","6,966",1.2%,"6,415","6,325",614,619,20,19,3,3
18,West North Central,Nebraska,"3,560","3,756",-5.2%,"2,812","2,942",720,793,2,1,26,19
19,West North Central,North Dakota,"3,642","3,504",3.9%,"2,933","2,893",698,598,0,0,12,13
20,West North Central,South Dakota,"1,603","1,708",-6.2%,852,"1,134",746,567,NM,NM,6,7
21,South Atlantic,Delaware,482,547,-12.0%,13,1,363,440,NM,1,106,105
22,South Atlantic,District of Columbia,19,17,14.1%,NM,0,5,2,14,14,0,0
23,South Atlantic,Florida,"27,339","27,822",-1.7%,"25,550","26,135","1,387","1,258",99,98,303,331
24,South Atlantic,Georgia,"14,863","13,855",7.3%,"12,133","11,416","2,300","2,058",NM,0,429,381
25,South Atlantic,Maryland,"3,347","3,585",-6.6%,296,515,"3,013","3,032",33,32,5,6
26,South Atlantic,North Carolina,"13,560","13,414",1.1%,"11,324","11,209","2,093","2,058",26,24,117,123
27,South Atlantic,South Carolina,"9,630","9,778",-1.5%,"9,014","9,223",458,437,0,0,158,118
28,South Atlantic,Virginia,"10,409","9,569",8.8%,"7,764","7,391","2,393","1,928",70,76,182,174
29,South Atlantic,West Virginia,"5,413","5,292",2.3%,"4,345","4,446",966,782,0,0,101,64
30,East South Central,Alabama,"14,073","13,426",4.8%,"10,222","9,335","3,412","3,721",0,0,439,370
31,East South Central,Kentucky,"6,964","6,496",7.2%,"6,822","6,403",96,44,NM,0,46,48
32,East South Central,Mississippi,"7,436","7,943",-6.4%,"6,823","7,501",473,269,0,0,140,174
33,East South Central,Tennessee,"6,912","7,693",-10.2%,"6,506","7,344",196,166,18,17,191,166
34,West South Central,Arkansas,"6,474","6,895",-6.1%,"5,814","6,395",568,423,NM,6,86,71
35,West South Central,Louisiana,"10,134","10,690",-5.2%,"6,783","7,233",913,893,NM,5,"2,434","2,560"
36,West South Central,Oklahoma,"10,063","9,594",4.9%,"5,840","5,667","4,151","3,863",-1,-2,72,67
37,West South Central,Texas,"58,530","60,044",-2.5%,"10,360","11,425","44,086","44,465",122,87,"3,961","4,068"
38,Mountain,Arizona,"12,448","11,993",3.8%,"9,214","9,205","3,215","2,770",16,15,3,3
39,Mountain,Colorado,"5,477","5,616",-2.5%,"3,633","3,987","1,818","1,605",5,4,21,20
40,Mountain,Idaho,"1,656","1,860",-11.0%,"1,090","1,299",512,513,6,6,48,43
41,Mountain,Montana,"2,306","2,194",5.1%,872,802,"1,432","1,390",0,0,NM,3
42,Mountain,Nevada,"4,700","4,138",13.6%,"2,693","2,478","1,939","1,578",11,10,57,72
43,Mountain,New Mexico,"3,198","3,669",-12.8%,"1,946","2,170","1,221","1,463",10,11,21,25
44,Mountain,Utah,"3,440","3,692",-6.8%,"2,735","3,184",667,486,10,13,28,9
45,Mountain,Wyoming,"3,868","4,259",-9.2%,"3,392","3,832",354,306,0,0,123,121
46,Pacific Contiguous,California,"22,299","22,795",-2.2%,"8,156","8,472","12,939","13,034",203,219,"1,001","1,069"
47,Pacific Contiguous,Oregon,"5,448","5,390",1.1%,"3,409","3,266","1,977","2,066",6,6,57,52
48,Pacific Contiguous,Washington,"9,092","9,468",-4.0%,"7,701","7,870","1,233","1,415",NM,1,157,181
49,Pacific Noncontiguous,Alaska,632,563,12.2%,577,505,15,17,33,30,7,11
50,Pacific Noncontiguous,Hawaii,841,800,5.2%,520,476,268,278,37,26,16,20

In [31]:
net_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 13 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Census Division                                                          51 non-null     object
 1   State                                                                    51 non-null     object
 2   Generation at Utility Scale of All Facilities (Aug 2024)                 51 non-null     object
 3   Generation at Utility Scale of All Facilities (Aug 2023)                 51 non-null     object
 4   Generation at Utility Scale of All Facilities (Percentage
Change)        51 non-null     object
 5   Generation at Utility Scale Electric Facilities (Aug 2024)               51 non-null     object
 6   Generation at Utility Scale Electric Facilities (Aug 2023)               51 non-null     object
 7   Generation at Utility Scale Independent Electric Facilities (Aug 2024)   51 non-null     object
 8   Generation at Utility Scale Independent Electric Facilities (Aug 2023)   51 non-null     object
 9   Generation at Utility Scale Commercial Facilities (Aug 2024)             51 non-null     object
 10  Generation at Utility Scale Commercial Facilities (Aug 2023)             51 non-null     object
 11  Generation at Utility Scale Industrial Facilities (Aug 2024)             51 non-null     object
 12  August 2023Generation at Utility Scale Industrial Facilities (Aug 2023)  51 non-null     object
dtypes: object(13)
memory usage: 5.3+ KB

In [32]:
net_gen.columns

Index(['Census Division', 'State',
       'Generation at Utility Scale of All Facilities (Aug 2024)',
       'Generation at Utility Scale of All Facilities (Aug 2023)',
       'Generation at Utility Scale of All Facilities (Percentage\nChange)',
       'Generation at Utility Scale Electric Facilities (Aug 2024)',
       'Generation at Utility Scale Electric Facilities (Aug 2023)',
       'Generation at Utility Scale Independent Electric Facilities (Aug 2024)',
       'Generation at Utility Scale Independent Electric Facilities (Aug 2023)',
       'Generation at Utility Scale Commercial Facilities (Aug 2024)',
       'Generation at Utility Scale Commercial Facilities (Aug 2023)',
       'Generation at Utility Scale Industrial Facilities (Aug 2024)',
       'August 2023Generation at Utility Scale Industrial Facilities (Aug 2023)'],
      dtype='object')

In [33]:
net_gen = net_gen.drop(columns=['Census Division', 'Generation at Utility Scale of All Facilities (Aug 2023)','Generation at Utility Scale Electric Facilities (Aug 2023)','Generation at Utility Scale Independent Electric Facilities (Aug 2023)',
                                'Generation at Utility Scale Commercial Facilities (Aug 2023)','August 2023Generation at Utility Scale Industrial Facilities (Aug 2023)'])
net_gen

,State,Generation at Utility Scale of All Facilities (Aug 2024),Generation at Utility Scale of All Facilities (Percentage\nChange),Generation at Utility Scale Electric Facilities (Aug 2024),Generation at Utility Scale Independent Electric Facilities (Aug 2024),Generation at Utility Scale Commercial Facilities (Aug 2024),Generation at Utility Scale Industrial Facilities (Aug 2024)
0,Connecticut,"4,352",9.4%,7,"4,257",29,59
1,Maine,"1,185",2.8%,NM,"1,088",4,93
2,Massachusetts,"1,896",6.4%,70,"1,657",154,15
3,New Hampshire,"1,808",22.9%,NM,"1,800",5,2
4,Rhode Island,"1,061",-0.5%,0,"1,042",4,15
5,Vermont,207,-7.5%,84,123,0,0
6,New Jersey,"5,633",-14.2%,36,"5,438",101,58
7,New York,"12,290",5.6%,"3,369","8,635",209,76
8,Pennsylvania,"23,206",0.2%,5,"22,797",55,349
9,Illinois,"17,196",3.8%,672,"16,309",45,170
10,Indiana,"9,001",2.7%,"6,184","2,370",21,426
11,Michigan,"12,136",9.5%,"9,020","2,938",65,114
12,Ohio,"13,652",8.0%,"1,542","12,020",30,60
13,Wisconsin,"6,417",-2.0%,"5,298",982,9,127
14,Iowa,"5,530",-7.2%,"4,631",679,9,211
15,Kansas,"5,364",-5.2%,"3,460","1,872",NM,31
16,Minnesota,"5,512",2.1%,"4,080","1,298",21,113
17,Missouri,"7,051",1.2%,"6,415",614,20,3
18,Nebraska,"3,560",-5.2%,"2,812",720,2,26
19,North Dakota,"3,642",3.9%,"2,933",698,0,12
20,South Dakota,"1,603",-6.2%,852,746,NM,6
21,Delaware,482,-12.0%,13,363,NM,106
22,District of Columbia,19,14.1%,NM,5,14,0
23,Florida,"27,339",-1.7%,"25,550","1,387",99,303
24,Georgia,"14,863",7.3%,"12,133","2,300",NM,429
25,Maryland,"3,347",-6.6%,296,"3,013",33,5
26,North Carolina,"13,560",1.1%,"11,324","2,093",26,117
27,South Carolina,"9,630",-1.5%,"9,014",458,0,158
28,Virginia,"10,409",8.8%,"7,764","2,393",70,182
29,West Virginia,"5,413",2.3%,"4,345",966,0,101
30,Alabama,"14,073",4.8%,"10,222","3,412",0,439
31,Kentucky,"6,964",7.2%,"6,822",96,NM,46
32,Mississippi,"7,436",-6.4%,"6,823",473,0,140
33,Tennessee,"6,912",-10.2%,"6,506",196,18,191
34,Arkansas,"6,474",-6.1%,"5,814",568,NM,86
35,Louisiana,"10,134",-5.2%,"6,783",913,NM,"2,434"
36,Oklahoma,"10,063",4.9%,"5,840","4,151",-1,72
37,Texas,"58,530",-2.5%,"10,360","44,086",122,"3,961"
38,Arizona,"12,448",3.8%,"9,214","3,215",16,3
39,Colorado,"5,477",-2.5%,"3,633","1,818",5,21
40,Idaho,"1,656",-11.0%,"1,090",512,6,48
41,Montana,"2,306",5.1%,872,"1,432",0,NM
42,Nevada,"4,700",13.6%,"2,693","1,939",11,57
43,New Mexico,"3,198",-12.8%,"1,946","1,221",10,21
44,Utah,"3,440",-6.8%,"2,735",667,10,28
45,Wyoming,"3,868",-9.2%,"3,392",354,0,123
46,California,"22,299",-2.2%,"8,156","12,939",203,"1,001"
47,Oregon,"5,448",1.1%,"3,409","1,977",6,57
48,Washington,"9,092",-4.0%,"7,701","1,233",NM,157
49,Alaska,632,12.2%,577,15,33,7
50,Hawaii,841,5.2%,520,268,37,16

In [34]:
net_gen.columns

Index(['State', 'Generation at Utility Scale of All Facilities (Aug 2024)',
       'Generation at Utility Scale of All Facilities (Percentage\nChange)',
       'Generation at Utility Scale Electric Facilities (Aug 2024)',
       'Generation at Utility Scale Independent Electric Facilities (Aug 2024)',
       'Generation at Utility Scale Commercial Facilities (Aug 2024)',
       'Generation at Utility Scale Industrial Facilities (Aug 2024)'],
      dtype='object')

In [35]:
net_gen = net_gen.rename(columns={'Generation at Utility Scale of All Facilities (Aug 2024)':'All Facilities Generation (Th MWh)',
                                  'Generation at Utility Scale of All Facilities (Percentage\nChange)':'% Chg All Facilities Generation',
                                  'Generation at Utility Scale Electric Facilities (Aug 2024)': 'Electric Facilities Generation (Th MWh)',
                                   'Generation at Utility Scale Independent Electric Facilities (Aug 2024)': 'Indpnt Elctrc Facilities Generation (Th MWh)',
                                   'Generation at Utility Scale Commercial Facilities (Aug 2024)':'Commercial Facilities Generation (Th MWh)',
                                   'Generation at Utility Scale Industrial Facilities (Aug 2024)':'Industrial Facilities Generation (Th MWh)'
                                   })
net_gen

,State,All Facilities Generation (Th MWh),% Chg All Facilities Generation,Electric Facilities Generation (Th MWh),Indpnt Elctrc Facilities Generation (Th MWh),Commercial Facilities Generation (Th MWh),Industrial Facilities Generation (Th MWh)
0,Connecticut,"4,352",9.4%,7,"4,257",29,59
1,Maine,"1,185",2.8%,NM,"1,088",4,93
2,Massachusetts,"1,896",6.4%,70,"1,657",154,15
3,New Hampshire,"1,808",22.9%,NM,"1,800",5,2
4,Rhode Island,"1,061",-0.5%,0,"1,042",4,15
5,Vermont,207,-7.5%,84,123,0,0
6,New Jersey,"5,633",-14.2%,36,"5,438",101,58
7,New York,"12,290",5.6%,"3,369","8,635",209,76
8,Pennsylvania,"23,206",0.2%,5,"22,797",55,349
9,Illinois,"17,196",3.8%,672,"16,309",45,170
10,Indiana,"9,001",2.7%,"6,184","2,370",21,426
11,Michigan,"12,136",9.5%,"9,020","2,938",65,114
12,Ohio,"13,652",8.0%,"1,542","12,020",30,60
13,Wisconsin,"6,417",-2.0%,"5,298",982,9,127
14,Iowa,"5,530",-7.2%,"4,631",679,9,211
15,Kansas,"5,364",-5.2%,"3,460","1,872",NM,31
16,Minnesota,"5,512",2.1%,"4,080","1,298",21,113
17,Missouri,"7,051",1.2%,"6,415",614,20,3
18,Nebraska,"3,560",-5.2%,"2,812",720,2,26
19,North Dakota,"3,642",3.9%,"2,933",698,0,12
20,South Dakota,"1,603",-6.2%,852,746,NM,6
21,Delaware,482,-12.0%,13,363,NM,106
22,District of Columbia,19,14.1%,NM,5,14,0
23,Florida,"27,339",-1.7%,"25,550","1,387",99,303
24,Georgia,"14,863",7.3%,"12,133","2,300",NM,429
25,Maryland,"3,347",-6.6%,296,"3,013",33,5
26,North Carolina,"13,560",1.1%,"11,324","2,093",26,117
27,South Carolina,"9,630",-1.5%,"9,014",458,0,158
28,Virginia,"10,409",8.8%,"7,764","2,393",70,182
29,West Virginia,"5,413",2.3%,"4,345",966,0,101
30,Alabama,"14,073",4.8%,"10,222","3,412",0,439
31,Kentucky,"6,964",7.2%,"6,822",96,NM,46
32,Mississippi,"7,436",-6.4%,"6,823",473,0,140
33,Tennessee,"6,912",-10.2%,"6,506",196,18,191
34,Arkansas,"6,474",-6.1%,"5,814",568,NM,86
35,Louisiana,"10,134",-5.2%,"6,783",913,NM,"2,434"
36,Oklahoma,"10,063",4.9%,"5,840","4,151",-1,72
37,Texas,"58,530",-2.5%,"10,360","44,086",122,"3,961"
38,Arizona,"12,448",3.8%,"9,214","3,215",16,3
39,Colorado,"5,477",-2.5%,"3,633","1,818",5,21
40,Idaho,"1,656",-11.0%,"1,090",512,6,48
41,Montana,"2,306",5.1%,872,"1,432",0,NM
42,Nevada,"4,700",13.6%,"2,693","1,939",11,57
43,New Mexico,"3,198",-12.8%,"1,946","1,221",10,21
44,Utah,"3,440",-6.8%,"2,735",667,10,28
45,Wyoming,"3,868",-9.2%,"3,392",354,0,123
46,California,"22,299",-2.2%,"8,156","12,939",203,"1,001"
47,Oregon,"5,448",1.1%,"3,409","1,977",6,57
48,Washington,"9,092",-4.0%,"7,701","1,233",NM,157
49,Alaska,632,12.2%,577,15,33,7
50,Hawaii,841,5.2%,520,268,37,16

In [36]:
net_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         51 non-null     object
 1   All Facilities Generation (Th MWh)            51 non-null     object
 2   % Chg All Facilities Generation               51 non-null     object
 3   Electric Facilities Generation (Th MWh)       51 non-null     object
 4   Indpnt Elctrc Facilities Generation (Th MWh)  51 non-null     object
 5   Commercial Facilities Generation (Th MWh)     51 non-null     object
 6   Industrial Facilities Generation (Th MWh)     51 non-null     object
dtypes: object(7)
memory usage: 2.9+ KB

In [37]:
net_gen = net_gen.replace('NM', 0)
net_gen.head()

,State,All Facilities Generation (Th MWh),% Chg All Facilities Generation,Electric Facilities Generation (Th MWh),Indpnt Elctrc Facilities Generation (Th MWh),Commercial Facilities Generation (Th MWh),Industrial Facilities Generation (Th MWh)
0,Connecticut,"4,352",9.4%,7,"4,257",29,59
1,Maine,"1,185",2.8%,0,"1,088",4,93
2,Massachusetts,"1,896",6.4%,70,"1,657",154,15
3,New Hampshire,"1,808",22.9%,0,"1,800",5,2
4,Rhode Island,"1,061",-0.5%,0,"1,042",4,15

In [38]:
net_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         51 non-null     object
 1   All Facilities Generation (Th MWh)            51 non-null     object
 2   % Chg All Facilities Generation               51 non-null     object
 3   Electric Facilities Generation (Th MWh)       51 non-null     object
 4   Indpnt Elctrc Facilities Generation (Th MWh)  51 non-null     object
 5   Commercial Facilities Generation (Th MWh)     51 non-null     object
 6   Industrial Facilities Generation (Th MWh)     51 non-null     object
dtypes: object(7)
memory usage: 2.9+ KB

In [39]:
net_gen.isna().value_counts()

State  All Facilities Generation (Th MWh)  % Chg All Facilities Generation  Electric Facilities Generation (Th MWh)  Indpnt Elctrc Facilities Generation (Th MWh)  Commercial Facilities Generation (Th MWh)  Industrial Facilities Generation (Th MWh)
False  False                               False                            False                                    False                                         False                                      False                                        51
Name: count, dtype: int64

In [40]:
#Remove symbols and convert to int/float type
net_gen['All Facilities Generation (Th MWh)'] = net_gen['All Facilities Generation (Th MWh)'].str.replace(',', '').astype(int)
net_gen['% Chg All Facilities Generation'] = net_gen['% Chg All Facilities Generation'].str.replace('%', '').astype(float)

In [41]:
net_gen['Electric Facilities Generation (Th MWh)'] = net_gen['Electric Facilities Generation (Th MWh)'].str.replace(',', '').astype(float).fillna(0).astype(int)
net_gen['Indpnt Elctrc Facilities Generation (Th MWh)'] = net_gen['Indpnt Elctrc Facilities Generation (Th MWh)'].str.replace(',', '').astype(float).fillna(0).astype(int)
net_gen['Commercial Facilities Generation (Th MWh)'] = net_gen['Commercial Facilities Generation (Th MWh)'].str.replace(',', '').astype(float).fillna(0).astype(int)
net_gen['Industrial Facilities Generation (Th MWh)'] = net_gen['Industrial Facilities Generation (Th MWh)'].str.replace(',', '').astype(float).fillna(0).astype(int)
net_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         51 non-null     object
 1   All Facilities Generation (Th MWh)            51 non-null     int64
 2   % Chg All Facilities Generation               51 non-null     float64
 3   Electric Facilities Generation (Th MWh)       51 non-null     int64
 4   Indpnt Elctrc Facilities Generation (Th MWh)  51 non-null     int64
 5   Commercial Facilities Generation (Th MWh)     51 non-null     int64
 6   Industrial Facilities Generation (Th MWh)     51 non-null     int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.9+ KB

In [43]:
net_gen.head(10)

,State,All Facilities Generation (Th MWh),% Chg All Facilities Generation,Electric Facilities Generation (Th MWh),Indpnt Elctrc Facilities Generation (Th MWh),Commercial Facilities Generation (Th MWh),Industrial Facilities Generation (Th MWh)
0,Connecticut,4352,9.4,7,4257,29,59
1,Maine,1185,2.8,0,1088,4,93
2,Massachusetts,1896,6.4,70,1657,154,15
3,New Hampshire,1808,22.9,0,1800,5,2
4,Rhode Island,1061,-0.5,0,1042,4,15
5,Vermont,207,-7.5,84,123,0,0
6,New Jersey,5633,-14.2,36,5438,101,58
7,New York,12290,5.6,3369,8635,209,76
8,Pennsylvania,23206,0.2,5,22797,55,349
9,Illinois,17196,3.8,672,16309,45,170

In [44]:
utility_scale_generation = net_gen

Thresholds for Utility Scale Generation:
- High Generation: >100,000 MWh
- Moderate Generation: 100,000 MWh > X > 20,000 MWh
- Low Generation: < 20,000 MWh

In [ ]:
utility_scale_generation